@font-face {
    font-family: "Quicksand-medium";
    src: url("../font/Quicksand/static/Quicksand-Medium.ttf");
}
@font-face {
    font-family: "Quicksand-bold";
    src: url("../font/Quicksand/static/Quicksand-Bold.ttf");
}
@font-face {
    font-family: "Quicksand-regular";
    src: url("../font/Quicksand/static/Quicksand-Regular.ttf");
}
@font-face {
    font-family: "Quicksand-light";
    src: url("../font/Quicksand/static/Quicksand-Light.ttf");
}
$bold: "Quicksand-bold";
$medium: "Quicksand-medium";
$regular: "Quicksand-regular";
$light: "Quicksand-light";
$yellow: #f4de4d;
$grey: #939597;

* {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

// SIDEBAR
.sideBar {
    display: flex;
    opacity: 75%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 15vw;
    height: 30vh;
    position: fixed;
    right: 0;
    margin-right: 2vw;
    
    .chip {
        width: 10vw;
        height: 3vh;
        background-image: url("../img/Puce-empty.svg");
        background-size: 3vh;
        background-position: right 1%;
        background-repeat: no-repeat;
        text-align: right;
        text-decoration: none;
        p {
            line-height: 2vh;
            font-size: 1vw;
            font-family: $medium;
            margin-right: 2vw;
            color: white;
            background-color: black;
            text-align: center;
            border-radius: 1vh;
            margin-top: 0.3vh;
            visibility: hidden;
            height: 2.2vh;
            
        }
        &:hover {
            p {
                visibility: visible;
            }
            background-image: url("../img/Puce-full.svg");
        }
    }
}

// HOME
.home {
    height: 100vh;
    width: 100vw;
    background-color: $yellow;

    // NAVBAR
    nav {
        width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: center;

        padding: 2vh;

        font-family: $bold;
        a {
            margin-left: 7vw;
            font-size: 1.1vw;
            text-decoration: none;
            color: black;
            &:hover {
                color: white;
            }
        }
        .logo {
            width: 10vh;
        }
    }

    // MAIN
    main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 15vh;

        .laptop {
            margin-top: 4vh;
            width: 30vw;
        }

        .first-text {
            margin-left: 2vw;
            font-family: $light;

            h1 {
                font-size: 3vw;

                .bold-text {
                    font-family: $medium;
                }
            }
        }
        .second-text {
            margin-top: 10vh;
            font-family: $light;
            color: black;
            h2 {
                font-size: 1.5vw;
            }
        }
    }
}

// MY WORK
.myWork {
    background-color: $grey;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .work-images {
        margin-left: 5vw;
        width: 30vw;
        .second-img {
            width: 20vw;
            height: 40vh;
            background-image: url("../img/tempo-img.jpg");
            border-radius: 1vw;
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.534);
        }
        .second-img-2 {
            margin-top: -20vh;
            margin-left: 5vw;
            width: 20vw;
            height: 40vh;
            background-image: url("../img/tempo-img-2.jpg");
            border-radius: 1vw;
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.534);
        }
    }
}

// ABOUT ME
.aboutMe {
    height: 100vh;
    width: 100vw;
    background-color: $yellow;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .portrait {
        width: 30vw;
        border: white solid 1.2vw;
        margin-left: 10vw;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.459);
        transform: rotate(5deg);
    }
    h3 {
        font-family: $light;
        font-size: 1.5vw;
        margin-right: 10vw;
        margin-left: 3vw;
    }

    h4 {
        margin-top: 3vh;
        font-family: $light;
        font-size: 1.5vw;
        margin-right: 10vw;
        margin-left: 3vw;
    }
}

// CONTACT
.contact {
    width: 100vw;
    height: 100vh;
    background-color: $grey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    img {
        width: 40vw;
    }
    .adressContainer {
        display: flex;
        flex-direction: column;
        font-family: $medium;
        color: white;
        font-size: 1.5vw;
        .adress {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 5vh;
        }
        .logo {
            width: 10vh;
        }
        a,
        p {
            margin-left: 2vw;
            color: white;

            &:hover {
                color: black;
            }
        }
    }
}
