@font-face {
  font-family: "Quicksand-medium";
  src: url("../font/Quicksand/static/Quicksand-Medium.ttf");
}

@font-face {
  font-family: "Quicksand-bold";
  src: url("../font/Quicksand/static/Quicksand-Bold.ttf");
}

@font-face {
  font-family: "Quicksand-regular";
  src: url("../font/Quicksand/static/Quicksand-Regular.ttf");
}

@font-face {
  font-family: "Quicksand-light";
  src: url("../font/Quicksand/static/Quicksand-Light.ttf");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  scroll-behavior: smooth;
}

.sideBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 75%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 15vw;
  height: 30vh;
  position: fixed;
  right: 0;
  margin-right: 2vw;
}

.sideBar .chip {
  width: 10vw;
  height: 3vh;
  background-image: url("../img/Puce-empty.svg");
  background-size: 3vh;
  background-position: right 1%;
  background-repeat: no-repeat;
  text-align: right;
  text-decoration: none;
}

.sideBar .chip p {
  line-height: 2vh;
  font-size: 1vw;
  font-family: "Quicksand-medium";
  margin-right: 2vw;
  color: white;
  background-color: black;
  text-align: center;
  border-radius: 1vh;
  margin-top: 0.3vh;
  visibility: hidden;
  height: 2.2vh;
}

.sideBar .chip:hover {
  background-image: url("../img/Puce-full.svg");
}

.sideBar .chip:hover p {
  visibility: visible;
}

.home {
  height: 100vh;
  width: 100vw;
  background-color: #f4de4d;
}

.home nav {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2vh;
  font-family: "Quicksand-bold";
}

.home nav a {
  margin-left: 7vw;
  font-size: 1.1vw;
  text-decoration: none;
  color: black;
}

.home nav a:hover {
  color: white;
}

.home nav .logo {
  width: 10vh;
}

.home main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15vh;
}

.home main .laptop {
  margin-top: 4vh;
  width: 30vw;
}

.home main .first-text {
  margin-left: 2vw;
  font-family: "Quicksand-light";
}

.home main .first-text h1 {
  font-size: 3vw;
}

.home main .first-text h1 .bold-text {
  font-family: "Quicksand-medium";
}

.home main .second-text {
  margin-top: 10vh;
  font-family: "Quicksand-light";
  color: black;
}

.home main .second-text h2 {
  font-size: 1.5vw;
}

.myWork {
  background-color: #939597;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myWork .work-images {
  margin-left: 5vw;
  width: 30vw;
}

.myWork .work-images .second-img {
  width: 20vw;
  height: 40vh;
  background-image: url("../img/tempo-img.jpg");
  border-radius: 1vw;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.534);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.534);
}

.myWork .work-images .second-img-2 {
  margin-top: -20vh;
  margin-left: 5vw;
  width: 20vw;
  height: 40vh;
  background-image: url("../img/tempo-img-2.jpg");
  border-radius: 1vw;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.534);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.534);
}

.aboutMe {
  height: 100vh;
  width: 100vw;
  background-color: #f4de4d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutMe .portrait {
  width: 30vw;
  border: white solid 1.2vw;
  margin-left: 10vw;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.459);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.459);
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.aboutMe h3 {
  font-family: "Quicksand-light";
  font-size: 1.5vw;
  margin-right: 10vw;
  margin-left: 3vw;
}

.aboutMe h4 {
  margin-top: 3vh;
  font-family: "Quicksand-light";
  font-size: 1.5vw;
  margin-right: 10vw;
  margin-left: 3vw;
}

.contact {
  width: 100vw;
  height: 100vh;
  background-color: #939597;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact img {
  width: 40vw;
}

.contact .adressContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Quicksand-medium";
  color: white;
  font-size: 1.5vw;
}

.contact .adressContainer .adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5vh;
}

.contact .adressContainer .logo {
  width: 10vh;
}

.contact .adressContainer a,
.contact .adressContainer p {
  margin-left: 2vw;
  color: white;
}

.contact .adressContainer a:hover,
.contact .adressContainer p:hover {
  color: black;
}
/*# sourceMappingURL=style.css.map */